.parent-container {
  height: 2000px;
  position: relative;
}

.card-container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-card {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0px;
  height: 200px;
  width: 1000px;
  background-color: var(--card-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
