.landing-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
}

.text {
  padding: 20px;
}

.image img {
  width: 100%;
  height: auto;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #2980b9;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0 auto; /* Center the grid container */
}

.grid-item {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.item-projected-dashboard3 {
  grid-column: 0 / span 4;
  grid-row: 1 / span 3;
}

.item-projected-dashboard2 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
}

.item1 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.item13 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.item3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.item4 {
  grid-column: 3 / span 1;
  grid-row: 3;
}

.item6 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
}

.item7 {
  grid-column: 2 / span 2;
  grid-row: 4;
}

.item12 {
  grid-column: 1 / span 1;
  grid-row: 4;
}

.item8 {
  grid-column: 4 / span 2;
  grid-row: 4;
}

/* Responsive Styles */
@media (max-width: 820px) {
  .grid-container {
    grid-template-columns: 1fr; /* Change to one column for smaller screens */
  }

  .item-projected-dashboard3,
  .item-projected-dashboard2,
  .item1,
  .item2,
  .item13,
  .item3,
  .item4,
  .item6,
  .item7,
  .item12,
  .item8 {
    grid-column: auto; /* Reset grid column */
    grid-row: auto; /* Reset grid row */
  }
}

body {
  font-family: Matter, sans-serif;
}
